<%= current_user.name %>
<% current_user.rounds.each do |round| %>
  <p>round: <%= round.id %></p>
  <p>you made <%=round.guesses.count%> guesses</p>
  <p><%=round.deck.cards.count%> cards this round.</p>
  <p><%=round.deck.deckname%></p>
<% end %>
