<% if @card.id < @deck.cards.length %>
  <% if @card.answer.downcase == @guess.guess.downcase%>
    <h1> CORRECT!!!! </h1>
    <a href= '/decks/<%=@deck.id%>/cards/<%=@card.id + 1%>/rounds/<%=@round.id%> '>Next Question</a>
    <% else %>

    <p>The Correct answer is <%= @card.answer %></p>
    <h1> INCORRECT!!!!! </h1>
    <a href= '/decks/<%=@deck.id%>/cards/<%=@card.id%>/rounds/<%=@round.id%>'>Resubmit your answer</a>
  <%end%>
<% else %>
  <% erb:''

